body {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,ff5c5c+100;Red+3D+%231 */
   background: rgb(254, 187, 187);
   /* Old browsers */
   background: -moz-linear-gradient(top, rgb(254, 187, 187) 0%, rgb(254, 144, 144) 45%, rgb(255, 92, 92) 100%);
   /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgb(254, 187, 187) 0%, rgb(254, 144, 144) 45%, rgb(255, 92, 92) 100%);
   /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgb(254, 187, 187) 0%, rgb(254, 144, 144) 45%, rgb(255, 92, 92) 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c', GradientType=0);
   /* IE6-9 */
}

#menu {
   width: 100%;
   background: #333;
   margin: 0 0 20px;
}

#menu .buttons-wrapper {
   text-align: right;
}

.btn-item {
   text-decoration: none;
   color: #fff;
   font-weight: bold;
   background-color: #538fbe;
   padding: 15px 20px;
   font-size: 24px;
   border: 3px solid #2d6898;
   cursor: pointer;
   margin: 20px;
}

.btn-item:focus,
.btn-item:hover {
   background-color: #327fbe;
}

.btn-item:active {
   background-color: #fff;
   color: #538fbe;
}

#game-content {
   margin: 40px 0 40px;
   padding: 30px;
}

#game-content h {
   text-align: center;
}

#game-content #money img {
   width: 200px;
   height: auto;
}

#game-content .text-bold {
   font-weight: bold;
   font-size: 18px;
}

#game-content .btn-item {
   margin-left: 0;
}

#popup-info {
   display: none;
   position: absolute;
   top: 250px;
   background: #fff;
   border: 1px solid #000;
   padding: 30px;
   width: 400px;
   left: 0;
   right: 0;
   margin: 0 auto;
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
   box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#popup-info.visible {
   display: block;
}

footer {
   background: #333;
   padding: 20px 0 20px;
   text-align: center;
   color: #fff;
}
